.button-rounded {
  padding-left: 40px;
  padding-right: 40px;
  height: 38px;
  border-radius: 19px;
  background-color: #375573;

  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.24px;
}
