.pagination {
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.pagination__current {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.36px;

  & > *:not(:last-child) {
    margin-right: 20px;
  }
}

a.pagination__current-link {
  color: #000000;

  &:hover {
    color: #e84c50;
    text-decoration: none;
  }
}

.pagination__current-active {
  color: #e84c50;
}

a.pagination__text-link {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  text-decoration: none;

  &:hover {
    color: #e84c50;
    text-decoration: none;
  }
}
